body {
    background-color: #005F73;
    padding: 3%;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: initials;
    font-size: 45px;
    text-align: center;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
}

p {
    font-style: oblique;
    font-size: 18px;
    position: absolute;
    top: 34%;
    right: 15%;

}
 
.habilidade1 {
    font-size: 16px;
}

.habilidade2 {
    font-size: 20px;
}
 .habilidade3 {
     font-size: 24px;
 }

 #foto {
     float: left;
     height: 280px;
     width: 400px;
     padding: 5px;
     border-radius: 15px;
     background-color: skyblue;
    
 }

 .div-imagem {
     height: 300px;
     position: relative;
 }

  /*coloca estilo nos itens ímpares da list (odd). Para itens pares usar (even) */
 ol li:nth-child(odd) {
     background-color: yellow;
 }