body {
    background-color: #F0EFEB;
    padding: 3%;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: initials;
    font-size: 45px;
    text-align: center;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

p {
    font-style: oblique;
    font-size: 18px;
}
 
.habilidade1 {
    font-size: 16px;
}

.habilidade2 {
    font-size: 20px;
}
 .habilidade3 {
     font-size: 24px;
 }

 div {
     border: 2px solid blue;
 }

 #foto {
     float: left;
     height: 300px;
     border-radius: 5%;
 }

 .div-imagem {
     height: 280px;

 }